swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

img {
    border: 0;
    width: 600px;
    height: 450px;
}