<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            Ionic Swiper
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <swiper #swiper [config]="config" (slideChange)="swiperSlideChanged($event)">
        <ng-template swiperSlide>Slide 1</ng-template>
        <ng-template swiperSlide>Slide 2</ng-template>
        <ng-template swiperSlide>Slide 3</ng-template>
        <ng-template swiperSlide>Slide 4</ng-template>
        <ng-template swiperSlide>Slide 5</ng-template>
        <ng-template swiperSlide>Slide 6</ng-template>
    </swiper> -->

    <swiper #swiper [config]="config">
        <ng-template swiperSlide *ngFor="let img of images">
            <img class="image" [src]="img" />
        </ng-template>
    </swiper>
</ion-content>